body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1151px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1046px;
  height:341px;
}
#u120384 {
  position:absolute;
  left:0px;
  top:0px;
  width:1046px;
  height:341px;
}
#u120385 {
  position:absolute;
  left:2px;
  top:162px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:229px;
}
#u120386 {
  position:absolute;
  left:867px;
  top:90px;
  width:319px;
  height:229px;
}
#u120387 {
  position:absolute;
  left:2px;
  top:106px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:128px;
}
#u120388 {
  position:absolute;
  left:-35px;
  top:113px;
  width:89px;
  height:128px;
}
#u120389 {
  position:absolute;
  left:2px;
  top:56px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
