body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1151px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u124916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1046px;
  height:341px;
}
#u124916 {
  position:absolute;
  left:0px;
  top:0px;
  width:1046px;
  height:341px;
}
#u124917 {
  position:absolute;
  left:2px;
  top:162px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:229px;
}
#u124918 {
  position:absolute;
  left:867px;
  top:90px;
  width:319px;
  height:229px;
}
#u124919 {
  position:absolute;
  left:2px;
  top:106px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:128px;
}
#u124920 {
  position:absolute;
  left:-35px;
  top:113px;
  width:89px;
  height:128px;
}
#u124921 {
  position:absolute;
  left:2px;
  top:56px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
