body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1063px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u121320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1063px;
  height:1204px;
}
#u121320 {
  position:absolute;
  left:0px;
  top:0px;
  width:1063px;
  height:1204px;
}
#u121321 {
  position:absolute;
  left:2px;
  top:594px;
  width:1059px;
  visibility:hidden;
  word-wrap:break-word;
}
