body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 222, 225, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5703 {
  position:absolute;
  left:1376px;
  top:214px;
  width:72px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5703_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(87, 163, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 222, 225, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5703.mouseOver {
}
#u5703_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 222, 225, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5703.disabled {
}
#u5704 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5708_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u5708 {
  position:absolute;
  left:764px;
  top:506px;
  width:30px;
  height:40px;
}
#u5709 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5711 {
  position:absolute;
  left:232px;
  top:62px;
  width:1250px;
  height:490px;
}
#u5712 {
  position:absolute;
  left:2px;
  top:237px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u5713 {
  position:absolute;
  left:253px;
  top:88px;
  width:91px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u5714 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:402px;
}
#u5715 {
  position:absolute;
  left:251px;
  top:130px;
  width:1223px;
  height:402px;
}
#u5716 {
  position:absolute;
  left:2px;
  top:193px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 233, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5717 {
  position:absolute;
  left:251px;
  top:184px;
  width:1204px;
  height:40px;
  font-size:12px;
}
#u5718 {
  position:absolute;
  left:2px;
  top:12px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5719 {
  position:absolute;
  left:1113px;
  top:194px;
  width:29px;
  height:16px;
  color:#000000;
}
#u5720 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5721 {
  position:absolute;
  left:251px;
  top:137px;
  width:202px;
  height:34px;
}
#u5721_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5721.mouseOver {
}
#u5721_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5721.selected {
}
#u5722 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5723 {
  position:absolute;
  left:284px;
  top:142px;
  width:161px;
  height:25px;
}
#u5723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5724 {
  position:absolute;
  left:260px;
  top:145px;
  width:20px;
  height:20px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5727 {
  position:absolute;
  left:853px;
  top:467px;
  width:20px;
  height:20px;
}
#u5728 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5729 {
  position:absolute;
  left:764px;
  top:462px;
  width:30px;
  height:30px;
}
#u5730 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5731 {
  position:absolute;
  left:928px;
  top:462px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5732 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5733 {
  position:absolute;
  left:794px;
  top:467px;
  width:43px;
  height:16px;
}
#u5734 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5735 {
  position:absolute;
  left:889px;
  top:467px;
  width:43px;
  height:16px;
}
#u5736 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5737 {
  position:absolute;
  left:435px;
  top:194px;
  width:29px;
  height:16px;
  color:#000000;
}
#u5738 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5739 {
  position:absolute;
  left:615px;
  top:194px;
  width:29px;
  height:20px;
  color:#000000;
}
#u5740 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5741 {
  position:absolute;
  left:1267px;
  top:194px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5742 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5743 {
  position:absolute;
  left:834px;
  top:194px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5744 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5745 {
  position:absolute;
  left:271px;
  top:194px;
  width:29px;
  height:16px;
  color:#000000;
}
#u5746 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u5748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u5749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5749 {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:50px;
}
.u5749_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5749.mouseOver {
}
.u5750 {
  position:absolute;
  left:2px;
  top:17px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5751 {
  position:absolute;
  left:32px;
  top:18px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5752 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u5753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5753 {
  position:absolute;
  left:841px;
  top:17px;
  width:74px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
.u5756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
.u5756 {
  position:absolute;
  left:179px;
  top:8px;
  width:38px;
  height:38px;
}
.u5757 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5758 {
  position:absolute;
  left:549px;
  top:17px;
  width:157px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5759 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
.u5760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5760 {
  position:absolute;
  left:364px;
  top:17px;
  width:26px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5761 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
.u5762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5762 {
  position:absolute;
  left:1038px;
  top:17px;
  width:13px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u5763 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
.u5765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u5765 {
  position:absolute;
  left:1153px;
  top:13px;
  width:25px;
  height:25px;
}
.u5766 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5747-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:50px;
}
#u5747-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:1204px;
  height:50px;
}
#u5747-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:1204px;
  height:50px;
}
#u5747-4 {
  position:absolute;
  left:0px;
  top:150px;
  width:1204px;
  height:50px;
}
#u5747 {
  position:absolute;
  left:251px;
  top:224px;
  width:1204px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5767 {
  position:absolute;
  left:476px;
  top:506px;
  width:246px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5768 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5769 {
  position:absolute;
  left:1420px;
  top:91px;
  width:20px;
  height:20px;
}
#u5769_img.mouseOver {
}
#u5769.mouseOver {
}
#u5770 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5771 {
  position:absolute;
  left:1397px;
  top:194px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5773_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:45px;
  height:55px;
}
#u5773 {
  position:absolute;
  left:483px;
  top:384px;
  width:35px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5774 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u5775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u5775 {
  position:absolute;
  left:534px;
  top:373px;
  width:271px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u5776 {
  position:absolute;
  left:10px;
  top:10px;
  width:251px;
  word-wrap:break-word;
}
#u5777_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:45px;
  height:55px;
}
#u5777 {
  position:absolute;
  left:1406px;
  top:437px;
  width:35px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5778 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
